@import './index.css';

.app {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color:  rgba(44, 62, 80,1.0);
  flex-direction: column !important;
  justify-content: flex-start !important;
}

.app-content {
  padding: 50px;
}
