.app-header {
  display: flex;
  align-items: center;
  font-size: 4em;
  margin-top: 20px;
  justify-content: center;
  text-decoration: none;
  color:  rgba(44, 62, 80,1.0);
}

.app-header:hover {
  color:  initial;
}

.app-header__logo {
  display: flex;
  flex-direction: row;
  padding: 0px 50px;

  align-items: center;
  justify-content: space-between;
}

.app-header__title {
  font-weight: lighter;
}

.app-header__crow {
  margin: 0px 20px;
}
