.content-view {
  position: absolute;
  width: 100%;
}

.content-view__form {
  padding: 20px 50px;
}

.content-view__menu-icon {
  float: right;
}

.content-view__transition-group {
  flex:  1;
}

.content-view__transition-group > div {
  height: 100%;
}

.content-view__field-with-bottom-margin {
  margin-bottom: 20px !important;
}

.content-view__geo-loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 100%;
  position: absolute;
  width: 100%;
  margin: -20px;
}
