.export-view {
  position: absolute;
  width: 100%;

  display: flex;
}

.export-view__settings {
  flex:  1;
  margin: 0px 30px;
}

.export-view__qrcode {
  flex:  1;
}

.SVGInline-svg {
  height: 100%;
  width: 100%;
}
 {

}
