.colors-tab {

}

.colors-tab__color-icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 21px;
  margin-right: 10px;
}

.colors-tab__color-type-select .item {
  display: flex !important;
  align-items: center;
}

.colors-tab__color-palette {
  padding: 40px 10px;
  display: flex;
}

.colors-tab__color-palette > .circle-picker {
  width: 100% !important;
}

.colors-tab__picker-popup {
  position: absolute;
  z-index: 2;
}

.colors-tab__footer-buttons {
}
