.customization-view {
  position: absolute;
  width: 100%;

  display: flex;
}

.customization-view__settings {
  flex:  1;
  padding: 0px 30px;
}

.customization-view__qrcode {
  flex:  1;
}

.SVGInline-svg {
  height: 100%;
  width: 100%;
}
