.geometry-tab {
  padding: 10px;
}

.geometry-tab__shape-select {

}

.geometry-tab__sliders {
  margin: 30px 0px;
}

.geometry-tab__slider-group {
  margin: 10px;
}

.geometry-tab__slider-group-label {
  margin-bottom: 5px;
}

.geometry-tab__footer-buttons {
}

.geometry-tab__shape-icon {
  display: inline-block !important;
  width: 21px !important;
  margin-right:  10px !important;
}

.geometry-tab__error-correction {

}
