.images-tab_drop-zone {
  height: auto;
  margin: 10px;
}

.images-tab_image-list {

}

.images-tab_image-list .avatar {
  width: 5em !important;
  height: 5em !important;
}

.images-tab_type-selector {
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.images-tab_type-selector > label {
  padding: 0px 10px;
}

.images-tab_type-selector > .slider {
  min-height: 1rem !important;
}

.images-tab_type-selected {
  font-weight: bold;
}

.images-tab_slider {
  display: flex;
  align-items: flex-end;
}

.images-tab_slider > .rc-slider {
  margin-left: 10px;
}

.images-tab_image-item:hover .images-tab_image-item-remove {
  opacity: 1;
}

.images-tab_image-item-remove {
  opacity: 0;
  transition: opacity .3s;
  float: right;
}
